html {
  scroll-behavior: smooth;
  transition: ease-in-out;
}
body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.navbar-wrapper {
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
}
#logo {
  width: 35px;
  height: 35px;
}
#logo:hover {
  transition: 1s;
  transition-delay: 0.5s;
  transform: rotate(360deg);
}
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo-container p {
  color: white;
  margin-left: 10px;
  font-size: 14px;
}
.navbar-outer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  padding: 30px;
}
.links {
  display: flex;
  flex-direction: row;
}
.page-scroll {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 15px;
}
.page-scroll:hover {
  text-decoration: none;
  color: tomato;
  border-bottom: 1px solid tomato;
}

#home {
  width: 100vw;
  height: 750px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("https://i.picsum.photos/id/103/2592/1936.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home-content {
  height: 45vh;
  position: absolute;
  margin: 20% 0 5% 0;
  left: 0;
  right: 0;
  z-index: 0;
  text-align: center;
}
.home-content h1 {
  color: #fff;
  font-size: 60px;
  font-weight: lighter;
  letter-spacing: 3px;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.home-content p {
  font-size: 16px;
  color: #fff;
  font-family: "Lato", sans-serif;
}
#about {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-container h2 {
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.mypic-frame {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-image: url("../images/James Benitez.JPG");
  background-size: cover;
  background-position: center;
}
.about-me {
  margin-top: 30px;
  text-align: center;
  max-width: 650px;
  line-height: 1.7;
}
.about-me #link {
  font-weight: bold;
  color: tomato;
  text-decoration: none;
}
.about-me #link:hover {
  text-decoration: underline;
}
.about-quote {
  width: 650px;
  height: 150px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 50px;
}
blockquote {
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: -30px;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  padding-left: 0.4em;
}

blockquote h3 {
  font-size: 21px;
  color: #fff;
}

blockquote h3:before {
  content: "\201C";
  font-weight: bold;
  font-size: 100px;
  color: #889c0b;
  position: absolute;
  top: -2.2rem;
  left: -4.5rem;
  font-family: "Georgia";
}
blockquote h3:after {
  content: "\201D";
  font-weight: bold;
  font-size: 100px;
  color: #889c0b;
  position: absolute;
  bottom: -5.6rem;
  right: -2rem;
  font-family: "Georgia";
}

#experience {
  background-color: #f0f0f0;
  text-align: center;
  padding-top: 100px;
}
.experience-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.img-skills {
  width: 100px;
  height: 100px;
  margin: 20px 50px 20px 50px;
  filter: grayscale(100%);
}
.img-skills:hover {
  filter: grayscale(0);
}
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.row-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.resume {
  height: 45vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("https://i.picsum.photos/id/0/5616/3744.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-resume {
  margin-top: 20px;
}
#resume-dl {
  color: #fff;
  text-decoration: none;
}

#work {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/skills/under-construction.gif");
  background-size: cover;
  background-position: center;
}
